@import "tailwindcss";


body {
  @apply bg-gradient-to-br from-[#020617] via-[#020b1c] to-[#020617] text-white;
}

.react-flow__edge-path {
  stroke-linecap: round;
}

.react-flow__edge {
  z-index: 1;
}

.react-flow__node {
  font-weight: 500;
  font-size: 14px;
  z-index: 2;
}

/* ===== Custom dark scrollbar for audit log ===== */
.audit-scroll::-webkit-scrollbar {
  width: 6px;
}

.audit-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.audit-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 999px;
}

.audit-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

/* Firefox support */
.audit-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.25) transparent;
}




